.header-text{
	position: relative;
	color: #fff;
	font-size:5vw;
	text-align: center;
}


.header-menu{
	z-index:10;
	position: relative;
	width:100%;
	background-color: #000	;
	top:12vw;
}


#header_message{
	text-align: center;
	color:#fff;
	font-size:3vw;
} 

.header-back{
	position: absolute;
	background-color:#000;
	background-image: url("http://orig00.deviantart.net/acf1/f/2009/276/9/7/matrix_code_by_extrayuri.gif");
	top:0px;
	width:100%;
	height:12vw;
}